
.fotur {
  margin-top: 20 px;
  cursor: default;
  background-color: #cc9694;
}

.foturListi{

}

.foturListi_rod {
    flex-direction: column;
    justify-content: flex-start;

}
.foturListi_dalk {

}

.foturListi_rod--larett{
    color: #fcffd2
}

.foturListi_fyrirsogn {
    font-size: 1em;
    color:#000000;
    width: 30%;
}


.foturListi_hlutir {
  color:#fcffd2;
}

.vorumerki {
    align-items:center;
}
