@import 'config';

.haus {
    cursor: default;
    background-color: $brunn;
    margin-bottom: $gutter*2;
}

.fyrirsogn {
    text-align: center;
    font-family: 'Oswald';
    font-size: 48px;
}

.menu {
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
}
    .menu__links {
        margin-left: 25%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    .menu__text{
        align-content: space-between;
        text-transform: uppercase;
        padding: 10px;
    }
}

.kerra {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    align-items: center;
    width: 25%;
}
    @media (max-width: 599px) {
        justify-content: center;
        width: 100%;
    }
    .kerra__image {
        align-content: center;
        width: $gutter;
        height: $gutter;
    }

    .kerra__text {
        margin: $gutter/2;
    }
        .kerra__text:hover{
            color: $lightBlue;
            cursor: pointer;
        }


.menu__text {
    font-family: 'Oswald';
    font-size: 18px;
}

.link {
    color: $black;
    transition: color 300ms ease-in-out;
    text-decoration: none;
}
    .link:hover {
        color: $lightBlue;
        cursor: pointer;
    }
