@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  font-family:'Times New Roman', Times, serif;
  font-size:16px;
  // TODO fleiri grunn stillingar
}


main {
  margin: 0 auto;
  max-width: 1500px;
  padding-left: 20px;
  padding-right: 20px;
}




// TODO sækja allar sass skrár
@import "scss/...";
