// TODO stillingar hér
$LeturVENJULEGT: 'Open Sans', helvetica, arial, sans-serif;
$LeturBOLD: 'Oswald', verdana, serif;

// Litirnir
$brunn: #afb281;
$lightBlue: #cee8ff;
$yellow: #fcffd2;
$bleikur: #cc9694;
$black: #000000;
$white: #ffffff;

//Header litur
$hausBakgrunnur: $brunn;
$haustexti: $black;

//Footer litur
$foturBakgrunnur: $bleikur;
$foturtexti: $black;
$foturLinkar: $yellow;

//Stærð á  og max-width
$gutter: 20px;
$max-width: 1200px;